<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Show order", @order, class:"btn btn-primary"%>
  <%= link_to "Back to customer", customer_path(@order.customer), class:"btn btn-primary" %>
</div>