<p style="color: green"><%= notice %></p>

<h3>Show order</h3>

<table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
  <thead>
    <tr>
      <th style="border: 1px solid #000;">Order ID</th>
      <th style="border: 1px solid #000;">Product Name</th>
      <th style="border: 1px solid #000;">Product Count</th>
      <th style="border: 1px solid #000;">Customer ID</th>
      <th colspan="3" style="border: 1px solid #000;">Actions</th>
    </tr>
  </thead>

  <tbody>
      <%= render "order", order: @order  %>
  </tbody>
</table>

<p><%= link_to "Back to customer", customer_path(@order.customer) %></p>